
.idea/vcs.xml
*.xml
.idea
*.pyc
*.pyc
*.pyc
__pycache__/Player.cpython-310.pyc
__pycache__/Player_data.cpython-310.pyc
__pycache__/utils.cpython-310.pyc
*.pyc
/Monopoly board.jpg
/Monopoly chance and community cards US.pdf
/Monopoly_Properties reference - Wikibooks, open books for an open world.pdf
